.message {
    font-size: 2em;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

button {
    width: 75px;
    height: 25px;
    font-size: 1em;
}

input {
    width: 75px;
    height: 19px;
    font-size: 1em;
}